@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


body{
    box-sizing: border-box;
    margin: 0;
}

aside {
    background-color: #1CD1B0;
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0;

   
}


h1 {
    position: relative;
    display: block;
    padding-left: 25px;
    background-color: #00669f;
    color:white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    font-weight: normal;

}

img {
    float:left;
    padding: 0px;
    height: 55px;
}

.logo {
    background-color: #00669f ;

}

nav {
    background-color: #001D2D;
    color: white;
    margin-top: 0;
    text-align: right;
    padding: 3px;
    margin-bottom: 45px;
     
}  

nav ul li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding-right: 20px;
}


h2 {
    text-align: center;
    margin: auto;
    font-size: 50px;
}
legend{ font-size: 20px;
    font-weight: normal;
    text-align: left;

}


p{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}


section {
    background-color: #00669f;
    margin: auto;
    width: 50%;
    border-radius: 80px;
    color: white;
    padding: 20px 50px;
    position:relative;
    
    
}

.columna{
    display: inline-block;
    width: 47%;
    position: relative;
    height: 100%;    
}

.columnaIzquierda label{
    display: block;
}


input[type=date],[type=text]{
    width: 95.5%;
}

.columnaIzquierda{
    margin-right: 20px;
}

.columnaDerecha {
   position: relative;
   display: inline-block;
   margin-left: 20px;
}

form{
    padding-left: 45px;
}

label {
    display: inline-block;
    padding-right: 15px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}

input[type=radio]{
    width: 20px;
    height: 20px;
}

h3{
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    
}

input {
    margin-bottom: 15px;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    display: inline;
}
select {
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    margin-bottom: 10px;
}

input:focus {
   background-color: tomato;
}

textarea{
    border-radius: 15px;
    width: 100%;
    height: 386px;

}


.columnaDerecha p{
    font-size: 35px;
    margin: auto;
}
main {
    margin-bottom: 45px;
   
   }

.boton{
    margin-top: 30px;
}
button {
    width: 450px;
    height: 100px;
    text-align: center;
    background-color: #1CD1B0;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    display: block;

}

footer {
    background-color: #00669f;
    color: white;
    text-align: center;
    line-height: 15px;
    padding: 15px;
    margin-bottom: 0px;
}